<div id="body">
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>Bohemia Energy</h1>
                <h2>OPM Validation Service.</h2>
            </hgroup>
            <p>
                This HTTP-based RPC service allows you to validate the eligibility of an OPM for a customer approach.
            </p>
        </div>
    </section>
    <section class="content-wrapper main-content clear-fix">
        @Html.ActionLink("API", "Index", "Help", new { area = "" }, null)

        <form id="validateEanEicForm" method="post">
            <h3>Validate OPM Eligibility</h3>
            <p>
                <label for="code">EAN/EIC code of the OPM:</label>
                <input type="text" name="code" id="codeInputId"/>
                <label for="code">IDM Token:</label>
                <input type="text" name="token" id="tokenInputId"/>
            </p>
            <input type="button" id="validateCodeButton" value="Validate" />
        </form>
        <label for="result">Validation result:</label>
        <p id="result"></p>
        <label for="tokenHint">To obtain a valid token follow this link:</label>
        <a href="https://am-proxytest.bohemiaenergy.cz/opensso/identity/authenticate?username=t5734&password=Lcii9lvy">https://am-proxytest.bohemiaenergy.cz/opensso/identity/authenticate?username=t5734&password=Lcii9lvy</a>
    </section>
</div>

@section scripts{
    <script type="text/javascript">
        $('#validateCodeButton').click(function() {
            $.ajax(
                {
                    type: 'GET',
                    url: '/api/OpmDuplicity/' + $("#codeInputId").val(),
                    data: 'token=' + $("#tokenInputId").val(),
                    success: function(data) {
                        $('#result').text(JSON.stringify(data));
                    },
                    error: function (xhr, status, error) {
                        $('#result').text("HTTP status: " + xhr.status + ", " + xhr.responseText);
                    }
                }
            );
        });
    </script>
}