<?xml version="1.0" encoding="utf-8"?>
<!-- 
    Note: Add entries to the App.config file for configuration settings
    that apply only to the Test project.
-->
<configuration>
  <appSettings>
    <add key="IdmUrl" value="https://am-proxytest.bohemiaenergy.cz/opensso/identity/" />
    <add key="ssoCookieName" value="iPlanetDirectoryPro" />
  </appSettings>
  <connectionStrings>
    <!-- Local dev machine:-->
    <!--    <add name="BE_Opm" connectionString="metadata=res://*/Persistence.ORM.OpmDb.csdl|res://*/Persistence.ORM.OpmDb.ssdl|res://*/Persistence.ORM.OpmDb.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=STEFANO-PC\SQLEXPRESS;initial catalog=BE;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!-- Dev server:-->
    <add name="BE_Opm" connectionString="metadata=res://*/Persistence.ORM.OpmDb.csdl|res://*/Persistence.ORM.OpmDb.ssdl|res://*/Persistence.ORM.OpmDb.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=STEFANO-PC\SQLEXPRESS;initial catalog=BE;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.3.0.0" newVersion="1.3.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>