<div id="body">
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>Bohemia Energy</h1>
                <h2>Business Opportunity.</h2>
            </hgroup>
            <p>
                This REST service for managing Business Opportunities.
            </p>
        </div>
    </section>
</div>
